body {
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  padding: 0px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
  font-size: 19px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #363636;
  font-size: 23px;
  line-height: 24px;
  font-weight: 300;
}
h5 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffd000;
  font-size: 26px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #3d424a;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}
p {
  position: relative;
  left: 0px;
  top: 0px;
  margin-bottom: 19px;
  color: black;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}
.button {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  margin-right: 10px;
  padding: 18px 25px;
  float: left;
  clear: left;
  border: 2px solid #f0f7f7;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: background-color 500ms ease, color 500ms ease, border-color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease, border-color 500ms ease;
  color: black;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  border-color: #2cc77c;
  background-color: #2cc77c;
  color: white;
}
.large-title {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #998aff;
  font-size: 65px;
  line-height: 55px;
  font-weight: 100;
  text-transform: none;
}
.large-title._5 {
  color: #ffd900;
  font-size: 65px;
  text-transform: none;
}
.navbar {
  display: block;
  height: 70px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px;
}
.divider-line {
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e4ebeb;
}
.divider-line.small {
  width: 30%;
  height: 1px;
}
.page-content {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-content.bottom {
  padding-bottom: 40px;
}
.container {
  margin-top: 14px;
}
.container.centered {
  display: block;
  margin-top: -32px;
  padding-right: 0px;
  text-align: center;
}
.color-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #AA8CC5;
}
.text-block {
  margin-bottom: 19px;
  padding: 20px 49px 20px 30px;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
}
.text-block:hover {
  border-color: #f0f7f7;
}
.text-block.present {
  box-shadow: none;
}
.nav-link {
  height: 70px;
  padding: 25px 15px;
  -webkit-transition: background-color 500ms ease, color 500ms ease, border-color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease, border-color 500ms ease;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: #AA8CC5;
  color: white;
}
.nav-link.w--current {
  border-bottom-color: #AA8CC5;
  color: #AA8CC5;
}
.nav-link.w--current:hover {
  color: white;
}
.section-title {
  height: 160%;
  margin-top: 20px;
  margin-bottom: 0px;
  float: none;
  color: black;
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}
.section-title._2 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}
.all-paragraphs-white {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}
.some-icon {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  float: right;
  border-radius: 3px;
  background-color: #3e4d82;
}
.some-icon:hover {
  background-color: #5667a3;
}
.main-slide {
  padding-top: 160px;
  background-color: #AA8CC5;
  background-image: url('../images/tumblr_nk2f8q1U8J1qzt4vjo1_r1_500.gif'), -webkit-radial-gradient(68% 55%, circle, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
  background-image: url('../images/tumblr_nk2f8q1U8J1qzt4vjo1_r1_500.gif'), radial-gradient(circle at 68% 55%, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
  background-position: 0% 0%, 0% 0%;
  background-size: auto, auto;
}
.main-slide._3 {
  background-color: #2e3238;
  background-image: url('../images/giphy (1).gif');
  background-position: 0% 0%;
  background-size: cover;
}
.main-slide._3._5 {
  background-image: url('../images/giphy (2).gif'), -webkit-radial-gradient(68% 55%, circle, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
  background-image: url('../images/giphy (2).gif'), radial-gradient(circle at 68% 55%, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
}
.main-slide._3._5._6 {
  background-image: url('../images/giphy (3).gif'), -webkit-radial-gradient(68% 55%, circle, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
  background-image: url('../images/giphy (3).gif'), radial-gradient(circle at 68% 55%, rgba(0, 255, 132, 0.85) 20%, #151521 65%);
  background-size: cover, auto;
}
.logo-container {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 70px;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
}
.logo-container:hover {
  background-color: #AA8CC5;
}
.pricing-block {
  height: 600px;
  padding: 38px 40px 56px 50px;
  border-radius: 3px;
  background-color: white;
}
.price-title {
  margin-bottom: 25px;
  font-size: 47px;
}
.overall-list {
  margin-top: 25px;
}
.link {
  padding-bottom: 5px;
  border-bottom: 0px none transparent;
  -webkit-transition: border-radius 500ms ease, color 500ms ease, border-color 500ms ease;
  transition: border-radius 500ms ease, color 500ms ease, border-color 500ms ease;
  color: black;
  font-size: 25px;
  line-height: 26px;
  font-style: normal;
  text-decoration: none;
}
.link:hover {
  border-bottom-color: #AA8CC5;
}
.link.small {
  padding-bottom: 2px;
  font-size: 12px;
}
.intro-paragraph {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.circle-close-button {
  position: absolute;
  top: 23px;
  right: 17px;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 99px;
  background-color: #252629;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #282b30;
}
.circle-close-button:hover {
  background-color: black;
}
.field {
  height: 60px;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 16px;
}
.field:hover {
  border-color: #3d424a;
}
.field:focus {
  border-color: #169156;
}
.h4-white {
  margin-top: 0px;
  color: #080707;
  font-weight: 300;
  text-transform: uppercase;
}
.gototop-icon {
  height: 19px;
}
.work-block-large {
  width: 100%;
  height: 350px;
  background-image: url('../images/spotlight.jpg');
  background-size: cover;
  text-decoration: none;
}
.work-block-small {
  width: 50%;
  height: 175px;
  float: left;
  background-image: url('../images/roomzoom.jpg');
  background-size: cover;
  text-decoration: none;
}
.small-paragraph {
  display: none;
  color: #becfcf;
  font-size: 12px;
}
.left-column {
  overflow-x: visible;
  overflow-y: visible;
}
.right-column {
  padding-left: 31px;
}
._2-half-column {
  display: block;
  margin-top: 28px;
  margin-right: 0px;
  text-align: left;
}
._2-half-column.different {
  margin-top: 40px;
}
.overall-list-item {
  padding-bottom: 20px;
}
.work-overlay {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #AA8CC5;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
.work-overlay:hover {
  opacity: 1;
}
.work-overlay-title {
  width: 100%;
  height: 100%;
  min-width: 0%;
  margin: auto;
  padding: 0px;
  clear: both;

  color: white;
  font-size: 25px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.pricing-feature {
  display: inline-block;
  color: #758080;
}
.pricing-feature-white {
  display: inline-block;
  color: white;
}
.gototop {
  height: 70px;
  padding-top: 24px;
  padding-right: 13px;
  padding-left: 13px;
  float: left;
  background-color: #f0f7f7;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
.gototop:hover {
  background-color: #AA8CC5;
}
.gallery {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
  float: none;
  clear: none;
}
.square-gallery {
  margin-bottom: 0px;
}
.gal-item {
  position: static;
  top: 0px;
  right: 0px;
  padding: 30px;
  background-color: transparent;
}
.gal-item.swan {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.invisible-row {
  display: none;
}
.video {
  position: relative;
  margin-top: 1px;
  margin-bottom: 0px;
  padding: 10px 0px 0px;
}
.image {
  display: block;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
.special-row {
  display: block;
  margin-top: 0px;
}
.special-row.similar-projs {
  margin-bottom: 55px;
}
.special-row.nevermind {
  display: none;
}
.special-row.bom {
  display: none;
}
.back-button {
  display: block;
  margin-right: auto;
  margin-left: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.close-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 9px;
  float: left;
  clear: left;
}
.back-text {
  color: #e0e0e0;
  letter-spacing: 1px;
  text-decoration: none;
}
.special {
  color: black;
  font-size: 15px;
  line-height: 24px;
}
.special.w--current {
  left: 0px;
  top: 0px;
  float: none;
  clear: none;
}
.age2 {
  margin-top: 6%;
}
.timeline-item {
  padding-right: 42px;
}
.links {
  color: black;
  font-weight: 300;
    text-decoration: underline;

 }
.links.this {
  padding-top: 0px;
    text-decoration: underline;

}
.links.headline {

  color: black;
  font-size: 25px;
    text-decoration: underline;

}
.links.linksspecs {
  box-shadow: none;
  font-size: 34px;
  text-decoration: underline;
}
.full-scale {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  height: 700px;
}
.nav-bar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 90px;
  margin-bottom: 40px;
  padding-top: 17px;
  background-color: white;
}
.nav-link {
  padding: 46px;
  float: none;
  clear: none;

  font-weight: 700;
  letter-spacing: 0px;
}
.text {
  display: none;
  margin: 145px;
  line-height: 29px;
  text-align: left;
}
.diff {
  margin: 28px;
  font-size: 15px;
  line-height: 35px;
  text-align: left;
}
.resume {
  display: block;
  margin-top: -64px;
  margin-right: auto;
  margin-left: auto;
  padding: 118px;
}
.sa {
  font-size: 13px;
}
.perceivable {
  margin: 20px 20px 139px;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.main-menu {
  overflow-x: visible;
  overflow-y: visible;
}
.spotlight {
  width: 100%;
  height: 350px;
  margin-bottom: 95px;
}
.spotlight.mobile {
  display: block;
  background-image: url('../images/spotlight1.jpg');
  background-position: 56% 38%;
}

.roomzoom {
  width: 50%;
  height: 175px;
  float: left;
  background-color: #32ab70;
  background-image: url('../images/roomzoom.jpg');
  background-size: cover;
}
.tanzania {
  width: 50%;
  height: 175px;
  float: left;
  background-image: url('../images/kk.gif');
  background-position: 156% 50%;
  background-size: cover;
}
.kisakes {
  width: 100%;
  height: auto;
  float: left;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.perceivableinterface {
  display: block;
  width: 100%;
  height: 350px;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.tsr {
  width: 50%;
  height: 175px;
  float: left;
  background-image: url('../images/83639ae470494bb659b7712ac794ce05.gif');
  background-size: cover;
}
.aidekman {
  width: 100%;
  height: auto;
  padding-bottom: 38px;
  float: left;
}
.nunez {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  float: left;
}
.compsci {
  width: 50%;
  height: 175px;
  float: left;
  background-image: url('../images/course.png');
  background-size: cover;
}
.compsci.mobile {
  background-position: 50% 14px;
}
.swann {
  width: 50%;
  height: 175px;
  float: left;
  background-image: url('../images/savv.jpg');
  background-size: cover;
}
.gif-column {
  height: 125px;
  background-image: url('../images/bio.gif');
  background-position: 45% 0%;
  background-size: cover;
}
.gif-column.bending {
  background-image: url('../images/200 (7).gif');
  background-position: 61% 0%;
}
.gif-column.smiling {
  left: 0px;
  top: 0px;
  background-image: url('../images/200 (8).gif');
  background-position: 11% 0%;
}
.gif-column.talkin {
  background-image: url('../images/200 (4).gif');
  background-position: 52% 0%;
}
.gif-column.rabbits {
  background-image: url('../images/giphy (4).gif');
}
.gif-column.sad {
  background-image: url('../images/200.gif');
  background-position: 72% 0%;
}
.portfolio-item {
  width: 100%;
  height: 450px;
  float: left;
  clear: none;
  background-image: url('../images/tanzania11.jpg');
  background-position: 0% 0%;
}
.portfolio-item.ruben {
  background-image: url('../images/tanzania11.jpg');
  background-position: 1px 50%;
  background-size: contain;
  background-attachment: fixed;
}

.portfolio-item.weparty {
  background-image: url('../images/baam_szhmbb.png');
  background-position: 40% 0%;
  background-size: cover;
}
.portfolio-item.sony {
  background-image: url('../images/667fcc73c03b849faddca23d74d250eb.png'), -webkit-radial-gradient(87% 22%, circle, #d7ed11, #1fccbe);
  background-image: url('../images/667fcc73c03b849faddca23d74d250eb.png'), radial-gradient(circle at 87% 22%, #d7ed11, #1fccbe);
  background-position: 55% 49%, 0% 0%;
  background-size: contain, auto;
  background-repeat: repeat-y, repeat;
}
.portfolio-item.andrew {
  background-position: 0px 50%;
  background-size: cover;
}
.portfolio-item.tanzania-worldbank {
  background-image: url('../images/tanzania11.jpg');
  background-position: 56% 50%;
  background-size: auto;
}
.portfolio-item.perc {
  background-image: url('../images/tumblr_n8atfwaYOs1qzgzyuo1_500.gif');
  background-position: 1px 50%;
  background-size: contain;
  background-attachment: fixed;
}
.portfolio-item.room-zoom {
  background-image: url('../images/example-bg.png');
  background-size: 125px;
}
.portfolio-item.kk {
  background-image: url('../images/example-bg.png');
  background-size: 125px;
}
.portfolio-item.art-gal {
  background-image: url('../images/aidekman1.jpg');
  background-position: 46% 0%;
  background-size: cover;
  background-repeat: repeat-y;
}
.portfolio-item.swan {
  background-image: url('../images/swan4.jpg'), url('../images/andrew1.jpg');
  background-position: 50% 0px, 0% 0%;
  background-size: cover, auto;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
}
.portfolio-item.cs {
  background-image: url('../images/spotlight2.png');
}
.portfolio-item.rm-big {
  background-image: url('../images/rmBig.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: repeat;
}
.portfolio-item.wp-big {
  background-image: url('../images/wpMini.jpg');
}
.portfolio-item.tsr-big {
  background-image: url('../images/tsrBig.gif');
  background-position: 51% 0%;
  background-size: cover;
}
.portfolio-item.sony-big {
  background-image: url('../images/aidekman0.gif');
}
.portfolio-item.kisakes-big {
  background-image: url('../images/kisakesBig.jpg');
  background-size: cover;
}
.main-title {
  margin: 20px 20px 20px 14px;
  padding: 0px;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  text-indent: 4px;
  text-transform: uppercase;
}
.contact-button {
  font-weight: 300;
}
.about-button {
  font-weight: 300;
}
.gallery-image {
  width: 100%;
  height: 450px;
}
.gallery-image.another {
  height: 100%;
}
.gallery-col {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 53px 53px;
}
.gallery-col.weparty {
  padding: 0px;
}
.image-no {
  width: 100%;
  height: 450px;
}
.main-body {
  overflow-x: visible;
  overflow-y: visible;
  height: 100%;
}
.timeline {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -53px;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-container {
  max-width: 100%;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.nav-link2 {
  margin-top: 12px;
  padding-top: 19px;
  font-weight: 300;
}
.nav-link2.spec {
  font-size: 34px;
}
.about {
  margin-bottom: 0px;
  padding-bottom: 1px;
}
.main-logo {
  margin-top: 5px;
  margin-left: 0px;
  padding-top: 6px;
  padding-left: 11px;
  float: none;
  clear: none;
  text-align: left;
}
.important-text {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0px;
  color: black;
  font-size: 140%;
  line-height: 47px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
}
.rezu {
  height: 900px;
  margin-top: 53px;
}
.resumeheading {
  display: block;
  text-align: left;
}
.list-item {
  font-weight: 300;
  list-style-type: decimal;
}
.similar-projects {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #242424;
  font-size: 22px;
  text-align: center;
}
.similar-projects.different {
  margin-right: 14px;
  color: black;
  text-align: center;
}
.similar-projects-title {
  margin-bottom: 59px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
}
.similarprojectsh2 {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.similar-projects-gallery {
  margin-bottom: 0px;
  padding-bottom: 0px;
  clear: none;
}
.similar-projects-link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.similar-projects-h2 {
  font-size: 12px;
  text-align: center;
}
.similar-projects-h1 {
  margin-top: 157px;
  margin-bottom: 42px;
  color: black;
  font-size: 30px;
  text-align: center;
}
.similar-projects-overlay-text {
  padding-top: 0px;
  font-size: 35px;
  text-transform: capitalize;
}
.similar-projects-link-spotlight {
  width: 100%;
  height: 300px;
  background-image: url('../images/spotlightMini.jpg');
  background-size: cover;
}
.similar-projects-link-tsr {
  width: 100%;
  height: 300px;
  background-image: url('../images/tsrMini.jpg');
  background-size: cover;
}
.similar-projects-link-roomzoom {
  width: 100%;
  height: 300px;
  background-image: url('../images/rmMini.jpg');
  background-size: cover;
}
.special-projects-div {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}
.similar-projects-link-nunez {
  width: 100%;
  height: 300px;
  background-image: url('../images/nunezMini.jpg');
}
.similar-projects-link-nunez.w--current {
  width: 100%;
  height: 300px;
  background-image: url('../images/nunezMini.jpg');
}
.similar-projects-link-perceivableinterface {
  width: 100%;
  height: 300px;
  background-image: url('../images/tumblr_n8atfwaYOs1qzgzyuo1_500.gif');
  background-size: cover;
}
.similar-projects-link-worldbank {
  width: 100%;
  height: 300px;
  background-image: url('../images/worldbankMini.jpg');
  background-size: cover;
}
.similar-projects-link-cs {
  width: 100%;
  height: 300px;
  background-image: url('../images/csMini.jpg');
  background-size: cover;
}
.video-div {
  display: block;
  margin: 0px auto;
  padding: 30px;
}
.similar-projects-link-kisakes {
  width: 100%;
  height: 300px;
  background-image: url('../images/kisakesMini.jpg');
  background-size: contain;
}
.similar-projects-link-swan {
  width: 100%;
  height: 300px;
  background-image: url('../images/swanMini.jpg');
  background-size: cover;
}
.similar-projects-link-swan.w--current {
  width: 100%;
  height: 300px;
  background-image: url('../images/swanMini.jpg');
  background-size: cover;
}
.portfolio-item-spotlight {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/spotlight1.jpg');
  background-position: 25% 0%;
  background-size: cover;
}
.portfolio-item-perceivable-interface {
  width: 100%;
  height: 350px;
  float: left;
  background-position: center; 
  background-image: url('../images/tumblr_n8atfwaYOs1qzgzyuo1_500.gif');
}
.portfolio-item-worldbank {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/tanzania11.jpg');
  background-position: 51% 0%;
}

.footer-button{
  text-align: center;
  width: %50;
  padding-top: 75px;
  padding-bottom: 75px;
  text-decoration: none;
  color: black;
  font-size: 16px;

}

.portfolio-item-tsr {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/tsrBig.gif');
  background-position: 50% 0%;
  background-size: cover;
}
.portfolio-item-nunez {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/andrew1.jpg');
  background-position: 44% 0%;
  background-size: cover;
}
.portfolio-item-kisakes {
  width: 100%;
  height: 350px;
  background-image: url('../images/kisakesBig.jpg');
  background-size: cover;
}
.gallery-row {
  padding: 0px 22px 22px;
}
.portfolio-item-roomzoom {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/rmBig.jpg');
  background-position: 35% 0%;
  background-size: cover;
}


.portfolio-item-ruben {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/ruben1.png');
  background-position: 35% 0%;
  background-size: cover;
}

.portfolio-item-bnym {
  width: 100%;
  height: 350px;
  float: left;
  //background-color: yellow;
  background-image: url('../images/bnym.png');
  background-position: center;
  background-size: cover;
 }

.portfolio-item-verizon {
  width: 100%;
  height: 350px;
  float: left;
 // background-color: red;
  background-image: url('../images/verizon.gif');
  background-position: center;
  background-size: cover;
 }

.portfolio-item-frog {
  width: 100%;
  height: 350px;
  float: left;
  //background-color: limegreen; 
  background-image: url('../images/frog.png');
  background-position: center;
  background-size: cover;
 }

.portfolio-item-samsung {
  width: 100%;
  height: 350px;
  float: left;
  //background-color: deepskyblue;
  background-image: url('../images/samsung.png');
  background-position: center;
  background-size: cover;
 }
.portfolio-item-swan {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/swan4.jpg');
  background-position: 35% -10%;
  background-size: cover;
}
.portfolio-item-aidekman {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/aidekman1.jpg');
  background-position: 35% 0%;
  background-size: cover;
}
.portfolio-item-cs {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/spotlight2.png');
  background-size: cover;
}
.portfolio-item-illustrations {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/amazing.jpg');
  background-position: 31% 0%;
  background-size: cover;
}
.portfolio-item-sony {
  width: 100%;
  height: 350px;
  float: left;
  background-image: url('../images/aidekman0.gif');
  background-size: cover;
}
.similar-projects-gal-item {
  padding: 10px 30px;
}
.special-link {
  color: black;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize;
}
.page-text {
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-text-perceivableinterface {
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo {
  padding-top: 11px;
}
.contact-links {
  display: inline;
  padding: 0px;
  float: left;
  clear: left;
  color: black;
  font-size: 25px;
  line-height: 38px;
  text-decoration: none;
}
.contact-form {
  padding: 60px;
}
.submit-button {
  width: 100%;
  float: left;
  clear: left;
  background-color: transparent;
  color: black;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
.form {
  color: black;
}
.text-area {
  color: black;
}
.field-label {
  font-size: 18px;
  line-height: 28px;
}
.error-message {
  background-color: transparent;
}
.success-message {
  background-color: transparent;
}
.special-row-single {
  margin-right: 30px;
  margin-left: 30px;
}
.portfolio-item-alike {
  width: 100%;
  height: 350px;
  background-image: url('../images/alike.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.portfolio-item-colibri {
  width: 100%;
  height: 350px;
  background-image: url('../images/soMuchBetter.gif');
  background-position: 50% 50%;
}
.portfolio-item-pedlar {
  width: 100%;
  height: 350px;
  background-image: url('../images/asdlasd.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.portfolio-item-softwaredesign {
  width: 100%;
  height: 350px;
  background-image: url('../images/Untitled-112.jpg');
  background-size: cover;
}
.header {

  font-size: 35px;
}
html.w-mod-js *[data-ix="display-none-contact-block"] {
  display: none;
  opacity: 1;
  -webkit-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate(200px, 0px);
}
html.w-mod-js *[data-ix="display-none-navbar"] {
  display: none;
}
html.w-mod-js *[data-ix="fade-in-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-75px, 0px);
  -ms-transform: translate(-75px, 0px);
  transform: translate(-75px, 0px);
}
html.w-mod-js *[data-ix="fade-in-from-left-slow"] {
  opacity: 0;
  -webkit-transform: translate(-75px, 0px);
  -ms-transform: translate(-75px, 0px);
  transform: translate(-75px, 0px);
}
html.w-mod-js *[data-ix="fade-in-from-right"] {
  opacity: 0;
  -webkit-transform: translate(70px, 0px);
  -ms-transform: translate(70px, 0px);
  transform: translate(70px, 0px);
}
html.w-mod-js *[data-ix="fade-in-from-right-slow"] {
  opacity: 0;
  -webkit-transform: translate(70px, 0px);
  -ms-transform: translate(70px, 0px);
  transform: translate(70px, 0px);
}
html.w-mod-js *[data-ix="title-fade-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}
html.w-mod-js *[data-ix="title-fade-in-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}
html.w-mod-js *[data-ix="title-fade-in-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}
html.w-mod-js *[data-ix="title-fade-in-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}
html.w-mod-js *[data-ix="title-fade-in-5"] {
  opacity: 0;
  -webkit-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}
html.w-mod-js *[data-ix="divider-grow"] {
  width: 0px;
}
html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js *[data-ix="fade-in-on-scroll-2"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js *[data-ix="fade-in-on-scroll-3"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js *[data-ix="fade-in-on-scroll-4"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
html.w-mod-js *[data-ix="fade-in-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
html.w-mod-js *[data-ix="display-none-contact-block-2"] {
  display: none;
  opacity: 1;
  -webkit-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate(200px, 0px);
}
html.w-mod-js *[data-ix="lower-opacity-non-ux"] {
  display: inline-block;
}
html.w-mod-js *[data-ix="lower-opacity-non-print"] {
  display: inline-block;
}
@media (max-width: 991px) {
  body {
    height: 100%;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 23px;
  }
  p {
    font-size: 15px;
    line-height: 23px;
  }
  .large-title {
    font-size: 60px;
    line-height: 43px;
  }
  .large-title._5 {
    font-size: 60px;
  }
  .page-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container.centered {
    display: block;
  }
  .text-block {
    margin-bottom: 10px;
    padding: 15px 15px 15px 30px;
    box-shadow: none;
  }
  .nav-link {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 2px solid transparent;
    background-color: #31363d;
    color: white;
  }
  .nav-link:hover {
    border-bottom-color: #1ca362;
    background-color: #1ca362;
  }
  .nav-link.w--current {
    border-bottom-color: #AA8CC5;
    background-color: #AA8CC5;
    color: white;
  }
  .section-title {
    font-size: 35px;
  }
  .all-paragraphs-white {
    font-size: 15px;
    line-height: 23px;
  }
  .main-slide {
    padding-top: 185px;
    padding-left: 75px;
  }
  .logo-container {
    margin-left: -25px;
  }
  .price-title {
    font-size: 35px;
    line-height: 18px;
  }
  ._2-half-column {
    padding-right: 30px;
  }
  .work-overlay {
    padding: 0px;
    text-align: center;
  }
  .work-overlay-title {
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 61%;
    float: left;
    clear: both;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .menu-icon {
    font-size: 35px;
  }
  .menu-button {
    width: 70px;
    height: 70px;
    margin-right: -25px;
    padding-top: 17px;
    -webkit-transition: background-color 500ms ease, color 500ms ease;
    transition: background-color 500ms ease, color 500ms ease;
  }
  .menu-button:hover {
    background-color: #AA8CC5;
    color: white;
  }
  .menu-button.w--open {
    background-color: #AA8CC5;
  }
  .nav-menu-container {
    margin-bottom: 15px;
    padding-top: 21px;
    padding-bottom: 22px;
    background-color: #31363d;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px 0px;
  }
  .gal-item {
    padding-right: 15px;
  }
  .links.headline {
    font-size: 28px;
  }
  .menu {
    background-color: white;
  }
  .menu2.w--open {
    background-color: #cfcfcf;
  }
  .kisakes {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: -8px;
    padding-bottom: 41px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .perceivableinterface {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .aidekman {
    height: auto;
  }
  .nunez {
    height: auto;
  }
  .gif-column.hoppinh {
    background-position: 57% 0%;
  }
  .gif-column.smiling {
    background-position: 50% 0%;
  }
  .gif-column.sad {
    background-position: 60% 0%;
  }
  .portfolio-item {
    width: 100%;
    background-position: 50% 40%;
  }
  .gallery-col {
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
  .menu-real {
    display: inline;
    width: 40%;
    height: 100%;
    padding: 0px;
    font-size: 14px;
  }
  .menu-real.w--open {
    background-color: transparent;
  }
  .menu-nav {
    left: 0px;
    top: 87px;
    right: 0px;
    display: inline-block;
    width: 100%;
    min-width: 100%;
    margin-top: 78px;
    background-color: white;
    text-align: center;
  }
  .nav-link2 {
    display: block;
    width: 100%;
    background-color: #AA8CC5;
    text-align: center;
  }
  .main-logo {
    display: inline;
    padding-top: 0px;
    padding-left: 0px;
    float: right;
    clear: none;
  }
  .important-text {
    font-size: 23px;
  }
  .icon-menu {
    background-color: white;
    background-image: url('../images/Screen Shot 2015-06-29 at 12.05.47 PM.png');
    background-size: contain;
    background-attachment: fixed;
  }
  .similar-projects-overlay-text {
    margin-top: 0%;
    padding-top: 60%;
    font-size: 27px;
  }
  .similar-projects-link-tsr {
    height: 300px;
  }
  .similar-projects-link-roomzoom {
    height: 300px;
    background-position: 66% 0%;
  }
  .similar-projects-link-nunez {
    height: 200px;
  }
  .similar-projects-link-kisakes {
    background-size: cover;
  }
  .portfolio-item-spotlight {
    background-position: 67% 0%;
  }
  .portfolio-item-nunez {
    background-position: 47% 0%;
  }
  .portfolio-item-roomzoom {
    background-position: 51% 0%;
  }
  .portfolio-item-swan {
    background-position: 55% -10%;
  }
  .portfolio-item-aidekman {
    background-position: 50% 50%;
  }
  .portfolio-item-cs {
    background-position: 24% 0%;
  }

  .menu-icon {
    margin: 23px -28px 23px 23px;
    padding: 4px 4px 4px 0px;
  }
  .icon {
    margin-top: 19px;
    float: right;
  }
  .logo {
    position: relative;
    left: 0px;
    top: 0px;
    padding-top: 14px;
    padding-bottom: 0px;
    padding-left: 2px;
    clear: none;
  }
  .text-area {
    width: 400px;
  }
  .portfolio-item-alike {
    background-size: contain;
  }
  .portfolio-item-pedlar {
    background-position: 50% 50%;
  }
}
@media (max-width: 767px) {
  .large-title {
    font-size: 40px;
    line-height: 24px;
  }
  .large-title._5 {
    font-size: 45px;
  }
  .navbar {
    height: 55px;
  }
  .footer-button{
  text-align: center;
  width: %50;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  color: black;
  font-size: 16px;

}
  .page-content {
    height: 100%;
    margin-bottom: -203px;
    padding: 40px 30px 194px;
  }
  .page-content.cs {
    margin-bottom: -72px;
    padding-bottom: 27px;
  }
  .page-content.swan {
    margin-bottom: -27px;
    padding-bottom: 2px;
  }
  .page-content.worldbank {
    margin-bottom: -325px;
  }
  .container {
    margin-top: -159px;
  }
  .container.centered {
    margin-top: -106px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block {
    box-shadow: none;
  }

  .footer-button {
    text-align: center;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .nav-link.w--current {
    color: white;
  }
  .section-title {
    margin-bottom: 47px;
    text-transform: capitalize;
  }
  .main-slide {
    padding-top: 135px;
    padding-left: 0px;
  }
  .logo-container {
    height: 55px;
    margin-left: 0px;
    padding-top: 5px;
  }
  .pricing-block {
    height: 615px;
    padding: 20px;
  }
  .price-title {
    font-size: 31px;
  }
  .overall-list {
    padding-bottom: 0px;
  }
  .work-block-large {
    height: 300px;
  }
  .left-column {
    display: inline-block;
    height: 1px;
    padding-top: 0px;
  }
  .right-column {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  ._2-half-column {
    margin-top: 117px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  ._2-half-column.different {
    display: inline-block;
  }
  .work-overlay {
    padding-top: 0%;
    font-size: 24px;
  }
  .work-overlay-title {
    margin-top: 0%;
    padding-top: 11%;
    font-size: 25px;
    line-height: 35px;
    text-transform: none;
  }
  .menu-button {
    width: 55px;
    height: 55px;
    margin-right: 0px;
    padding-top: 9px;
    padding-left: 10px;
  }
  .menu-button.w--open {
    width: 55px;
    height: 55px;
    padding-top: 9px;
    padding-left: 10px;
  }
  .nav-menu-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gototop {
    height: 55px;
    padding-top: 16px;
  }
  .gototop.w--current {
    height: 55px;
    padding-top: 16px;
  }
  .gal-item {
    padding-right: 30px;
    padding-bottom: 0px;
  }
  .gal-item.swan {
    background-color: transparent;
  }
  .timeline-item {
    padding-right: 0px;
  }
  .links.headline {
    font-size: 27px;
  }
  .resume {
    margin-top: 31px;
    padding: 30px;
  }
  .menu {
    color: black;
    font-size: 15px;
  }
  .spotlight {
    margin-bottom: 26px;
    padding-bottom: 240px;
  }
  .spotlight.mobile {
    width: 100%;
    height: 300px;
  }
  .kisakes {
    width: 100%;
    margin-bottom: -331px;
    padding-top: 106px;
    padding-bottom: 349px;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .perceivableinterface {
    margin-bottom: -84px;
    padding-bottom: 41px;
    background-image: none;
    background-size: auto;
    background-position: center; 
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .aidekman {
    width: 100%;
    margin-top: -81px;
    margin-bottom: -172px;
  }
  .nunez {
    width: 100%;
    margin-bottom: -179px;
    padding-top: 114px;
  }
  .gif-column {
    margin-bottom: 29px;
    padding-bottom: 1px;
  }
  .gif-column.bending {
    background-position: 50% 50%;
  }
  .gif-column.smiling {
    background-position: 50% 50%;
  }
  .gif-column.talkin {
    background-position: 50% 50%;
  }
  .gif-column.rabbits {
    background-position: 50% 50%;
  }
  .gif-column.sad {
    background-position: 50% 50%;
  }
  .portfolio-item {
    width: 100%;
    height: 300px;
  }
  .portfolio-item.sony {
    height: 275px;
  }
  .temp {
    margin-top: 71px;
  }
  .menu-real {
    padding-top: 0px;
    padding-right: 0px;
  }
  .menu-nav {
    left: 0px;
    top: 90px;
    right: 0px;
    background-color: white;
  }
  .about {
    height: auto;
    margin: -20px auto 0px;
    padding-top: 59px;
    padding-bottom: 0px;
  }
  .main-logo {
    padding-left: 0px;
  }
  .important-text {
    display: block;
    margin-top: 25px;
    margin-bottom: 11px;
    font-size: 45px;
  }
  .rezu {
    padding-right: 30px;
    padding-left: 30px;
  }
  .similar-projects-h1 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 39px;
    font-size: 20px;
  }
  .similar-projects-overlay-text {
    margin-top: 0%;
    padding-top: 11%;
    font-size: 45px;
    text-transform: uppercase;
  }
  .similar-projects-link-spotlight {
    height: 150px;
  }
  .similar-projects-link-tsr {
    height: 150px;
  }
  .similar-projects-link-roomzoom {
    height: 150px;
  }
  .similar-projects-link-nunez {
    height: 150px;
  }
  .similar-projects-link-perceivableinterface {
    height: 150px;
  }
  .similar-projects-link-worldbank {
    height: 150px;
  }
  .similar-projects-link-cs {
    height: 150px;
  }
  .video-div {
    padding-top: 0px;
  }
  .similar-projects-link-kisakes {
    height: 150px;
    background-size: cover;
  }
  .similar-projects-link-swan {
    height: 150px;
  }
  .similar-projects-link-swan.w--current {
    height: 150px;
  }
  .portfolio-item-spotlight {
    height: 300px;
    background-position: 50% -118px;
    background-repeat: no-repeat;
  }
  .portfolio-item-perceivable-interface {
    height: 300px;
  }

  .portfolio-item-ruben {
    height: 300px;
    background-position: -10 px;
    background-repeat: no-repeat;
  }

  .portfolio-item-bnym, .portfolio-item-verizon, .portfolio-item-samsung, .portfolio-item-frog{
 height: 300px;
  }

  .portfolio-item-worldbank {
    height: 300px;
    background-position: 50% 0px;
    background-size: cover;
  }
  .portfolio-item-tsr {
    height: 300px;
    background-size: contain;
  }
  .portfolio-item-nunez {
    height: 300px;
    background-position: 50% -133px;
  }
  .portfolio-item-kisakes {
    height: 300px;
    background-position: 0% 54%;
  }
  .gallery-row {
    padding-bottom: 0px;
  }
  .portfolio-item-roomzoom {
    height: 300px;
  }
  .portfolio-item-swan {
    height: 300px;
  }
  .portfolio-item-aidekman {
    height: 300px;
  }
  .portfolio-item-cs {
    height: 300px;
    background-position: -1% 32%;
  }
  .portfolio-item-illustrations {
    height: 300px;
    background-position: 50% 100%;
  }
  .portfolio-item-sony {
    height: 300px;
  }
  .rightest-column {
    height: 1px;
  }
  .similar-projects-gal-item {
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  .page-text {
    padding: 0px 45px;
  }
  .page-text-about {
    padding: 12px 42px 42px;
  }
  .portfolio-item-alike {
    height: 300px;
    background-position: 50% 45%;
    background-size: cover;
  }
  .portfolio-item-colibri {
    height: 300px;
  }
  .portfolio-item-pedlar {
    height: 300px;
    background-position: 0% 95%;
  }
  .portfolio-item-softwaredesign {
    height: 300px;
    background-position: 50% 32%;
  }
}
@media (max-width: 479px) {
  body {
    padding-bottom: 0px;
  }
  p {
    margin-bottom: 48px;
    padding-top: 0px;
    padding-bottom: 27px;
  }
  .button {
    padding: 11px 15px;
    font-size: 14px;
  }
  .large-title {
    color: white;
    font-size: 35px;
    line-height: 13px;
  }
  .large-title._5 {
    font-size: 25px;
  }
  .page-content {
    margin-bottom: -347px;
    padding-right: 25px;
    padding-bottom: 330px;
    padding-left: 25px;
  }
  .page-content.swan {
    margin-bottom: -82px;
    padding-bottom: 137px;
  }
  .page-content.worldbank {
    margin-bottom: -154px;
  }
  .container.centered {
    margin-top: -111px;
    margin-bottom: -62px;
    padding: 21px;
  }
  .text-block {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: none;
  }
  .text-block.present {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
  }
  .nav-link {
    font-family: 'Oxygen', sans-serif;
  font-weight: bold;
    padding-left: 25px;
  }
  .section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    line-height: 32px;
  }
  .section-title._2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 25px;
  }
  .section-title.pinterfacetitle {
    margin-bottom: 8px;
  }
  .all-paragraphs-white {
    font-size: 12px;
    line-height: 16px;
  }
  .main-slide {
    padding-top: 120px;
  }
  .main-slide._3 {
    background-position: 100% 50%, 0% 0%;
    background-size: 100%, auto;
  }
  .main-slide._3._5._6 {
    background-position: 50% 53px, 0% 0%;
    background-size: contain, auto;
  }
  .pricing-block {
    height: 530px;
  }
  .price-title {
    font-size: 45px;
  }
  .h4-white {
    font-size: 13px;
    line-height: 16px;
  }
  .work-block-large {
    height: 200px;
  }
  .work-block-small {
    height: 120px;
  }
  .small-paragraph {
    line-height: 10px;
  }
  .left-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-column {
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 0px;
    padding-right: 13px;
    padding-left: 0px;
  }
  ._2-half-column {
    padding-right: 0px;
  }
  .overall-list-item {
    padding-bottom: 0px;
  }
  .work-overlay {
    padding-top: 0%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .work-overlay-title {
    margin-top: 0%;
    margin-left: auto;
    padding-top: 11%;
    padding-left: 0px;
    font-size: 25px;
    line-height: 15px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .gototop {
    height: 55px;
    padding-top: 17px;
  }
  .gal-item {
    padding-right: 30px;
  }
  .special {
    margin-bottom: 38px;
    padding-bottom: 0px;
  }
  .links {
    margin-top: -17px;
    font-size: 12px;
    text-decoration: none;

  }
  .links.headline {
    font-size: 30px;
  }
  .nav-bar {
    font-family: 'Oxygen', sans-serif;
  font-weight: bold;
    display: inline;
    overflow-x: visible;
    overflow-y: visible;
    margin-top: 44px;
    padding-top: 65px;
    padding-right: 7px;
  }
  .resume {
    margin-top: 10px;
    padding: 10px;
  }
  .menu {
    left: 0px;
    top: 0px;
    right: 0px;
    margin-top: -46px;
    padding-top: 16px;
    padding-right: 6px;
    padding-left: 12px;
    float: none;
    clear: none;
    font-size: 15px;
  }
  .menu2.w--open {
    margin-top: -38px;
  }
  .col-phone {
    display: none;
  }
  .spotlight {
    margin-bottom: 19px;
    padding-bottom: 371px;
  }
  .spotlight.mobile {
    width: 100%;
    height: 200px;
  }
  .perceivableinterface {
    margin-bottom: -32px;
    padding-bottom: 0px;
  }
  .aidekman {
    margin-top: -189px;
    margin-bottom: -281px;
  }
  .nunez {
    margin-bottom: -322px;
  }
  .portfolio-item {
    width: 100%;
    height: 200px;
  }
  .portfolio-item.sony {
    height: 150px;
  }
  .portfolio-item.tanzania-worldbank {
    background-position: 48% 51%;
    background-size: contain;
  }
  .main-title {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 12px;
  }
  .gallery-image {
    height: 225px;
  }
  .gallery-col {
    display: block;
    padding-right: 5px;
    padding-bottom: 24px;
    padding-left: 5px;
  }
  .image-no {
    width: 100%;
    height: 225px;
  }
  .temp {
    margin-top: 37px;
  }
  .timeline {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 400px;
  }
  .menu-real {
    display: inline;
    width: 40%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    float: right;
    clear: right;
    background-color: white;
  }
  .menu-real.w--open {
    background-color: white;
  }
  .menu-nav {
    position: absolute;
    left: 0px;
    top: 90px;
    right: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    margin-top: 67px;
    background-color: white;
    text-align: center;
  }
  .menu-container {
    margin-top: 4px;
    margin-right: 14px;
    margin-left: 12px;
    padding-bottom: 32px;
    background-color: white;
  }
  .nav-link2 {
    margin-top: 43px;
    background-color: #AA8CC5;
    box-shadow: black 1px 1px 3px -4px;
    text-align: center;
  }
  .col2 {
    height: 3px;
  }
  .about {
    margin-top: -2px;
    margin-bottom: 6px;
    padding-top: 41px;
    padding-left: 0px;
  }
  .main-logo {
    display: inline-block;
    margin-top: 0px;
    padding: 12px 0px 25px 12px;
  }
  .important-text {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 1px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  .rezu {
    padding-right: 15px;
    padding-left: 15px;
  }
  .similar-projects-h1 {
    margin-top: 67px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
  }
  .similar-projects-overlay-text {
    margin-top: 0%;
    padding-top: 11%;
    padding-bottom: 0px;
    font-size: 25px;
    line-height: 35px;
  }
  .similar-projects-link-spotlight {
    height: 100px;
  }
  .similar-projects-link-tsr {
    height: 100px;
  }
  .similar-projects-link-roomzoom {
    height: 100px;
  }
  .special-projects-div {
    margin-top: 0px;
  }
  .similar-projects-link-nunez {
    height: 100px;
  }
  .similar-projects-link-perceivableinterface {
    height: 100px;
  }
  .similar-projects-link-worldbank {
    height: 100px;
  }
  .similar-projects-link-cs {
    height: 100px;
  }
  .video-div {
    padding-top: 0px;
  }
  .similar-projects-link-kisakes {
    height: 100px;
  }
  .similar-projects-link-swan {
    height: 100px;
  }
  .similar-projects-link-swan.w--current {
    height: 100px;
  }
  .portfolio-item-spotlight {
    height: 200px;
    background-position: 50% -29px;
  }
  .portfolio-item-perceivable-interface {
    height: 200px;
  }
  .portfolio-item-worldbank {
    height: 200px;
  }
  .portfolio-item-tsr {
    height: 200px;
    background-size: cover;
  }
  .portfolio-item-nunez {
    height: 200px;
    background-position: 50% -31px;
  }
  .portfolio-item-kisakes {
    height: 200px;
  }
  .gallery-row {
    padding-bottom: 0px;
  }
  .portfolio-item-roomzoom {
    height: 200px;
    background-position: 50% 0px;
  }
  .portfolio-item-swan {
    height: 200px;
    background-position: 52% -10%;
  }
  .portfolio-item-aidekman {
    height: 200px;
  }
  .portfolio-item-cs {
    height: 200px;
  }
  .portfolio-item-bnym, .portfolio-item-verizon , .portfolio-item-frog, .portfolio-item-samsung   {
    height: 200px;
  }
  .portfolio-item-ruben {
    height: 200px;
  }
  .portfolio-item-illustrations {
    height: 200px;
  }
  .portfolio-item-sony {
    height: 200px;
  }
  .rightest-column {
    margin-bottom: 8px;
  }
  .similar-projects-gal-item {
    padding: 15px 30px 0px;
  }
  .page-text {
    margin-bottom: 0px;
    padding: 0px 30px;
  }
  .page-text-about {
    padding: 6px;
  }
  .logo {
    padding-top: 16px;
    padding-left: 4px;
  }
  .portfolio-item-alike {
    height: 200px;
  }
  .portfolio-item-colibri {
    height: 200px;
    background-size: cover;
  }
  .portfolio-item-pedlar {
    height: 200px;
  }
  .portfolio-item-softwaredesign {
    height: 200px;
  }
  .header {
    font-family: 'Oxygen', sans-serif;
  font-weight: bold;
    font-size: 26px;
  }
}

